DEV_PORT=DEV_PORT
DB_URL=MONGODB_URL
ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET
CLIENT_URL=FRONTEND_URL

# FOR SENDING EMAIL FROM NODEMAILER

# REFER https://www.youtube.com/watch?v=lBRnLXwjLw0

EMAIL_SERVICE=SERVICE
EMAIL_PORT=PORT_NUMEBR
SECURE=SECURE
EMAIL_USERID=YOUR_EMAIL_ID
EMAIL_PASSWORD=16_DEGIT_CODE_FROM_YOUR_GMAIL_ACCOUNT
