SERVER_URL=SERVER_URL
CLIENT_URL=CLIENT_URL
DEV_PORT=PORT_NUMBER
DB_URL=MongoDB_URL

JWT_ACCESS_SECRET=1234
JWT_REFRESH_SECRET=123456
ACCESS_TOKEN_EXIRY=EXPIRY
REFRESH_TOKEN_EXIRY=EXPIRY

# REFER https://www.youtube.com/watch?v=lBRnLXwjLw0

SERVICE=SERVICE
EMAIL_PORT=PORT_NUMEBR
SECURE=SECURE
USER=emailID
PASS=16_DEGIT_CODE_FROM_YOUR_GMAIL_ACCOUNT
